html, body {
    width:100%;
    height:100%;
    padding: 0;
    margin:0;
    background-color: #f2f2f2;
}

a, input, button, select {
    all: unset;
}

body.preload {
    transition: none !important;
}